@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800&family=JetBrains+Mono:wght@400;700&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #00f0ff; /* Cyan */
  --color-secondary: #ff003c; /* Magenta */
  --color-dark: #0a0a0a; /* Deep Charcoal */
  --color-surface: #121212; /* Slightly lighter background */

  --font-sans: "Inter", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
}

@layer base {
  body {
    @apply bg-dark text-slate-200 font-sans antialiased selection:bg-primary selection:text-dark;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-mono font-bold tracking-tight;
  }
}

@media (prefers-reduced-motion: reduce) {
  .animate-bounce {
    animation: none !important;
  }
}
